*{
    margin:0;
    padding:0;
    box-sizing: border-box;
 
 }

 .contactus
 {
    top: 50px;
    width: 1920px;
    height: 550px;
    position: relative;
    left: 60px;
    border-radius: 30px;
}

.adress1
{
   
    left: 20px;
}

.adress1
{
   
    left: 20px;
}
.adress1
{
    
    left: 20px;
}